<body class="home page-template-default page page-id-41 wp-custom-logo wp-embed-responsive translatepress-en_GB">

    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5ZPL8WB" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <!-- Google Tag Manager (noscript) --><noscript><iframe
            src="https://www.googletagmanager.com/ns.html?id=GTM-T33KZT9" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <a href="#main" class="screen-reader-text">Skip to content</a>

    <div class="view">

        <div class="off-canvas-content" data-off-canvas-content>

            <header class="header" data-sticky-container>

                <div class="sticky" data-sticky data-margin-top="0" data-margin-bottom="0" data-sticky-on="small"
                    data-top-anchor="hero-image-content:bottom">
                    <div class="wrapper">
                        <div class="grid-x">

                            <div class="cell shrink slot-logo">
                                <a href="/"><span class="screen-reader-text">Lanson Place</span></a>
                                <a href="/" rel="home"><span>Luxtery Hotel</span></a>
                            </div>

                            <nav class="cell auto slot-menu">
                                <ul id="menu-main" class="dropdown menu">
                                    <li id="menu-item-127"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-127">
                                        <a href="/room">Phòng</a>
                                        {{!-- <ul class="sub-menu">
                                            <li id="menu-item-131"
                                                class="menu-item menu-item-type-post_type menu-item-object-suites menu-item-131">
                                                <a href="https://www.twomr.com.hk/suites/garden-skyline-room/">Garden/Skyline
                                                    Room</a></li>
                                            <li id="menu-item-130"
                                                class="menu-item menu-item-type-post_type menu-item-object-suites menu-item-130">
                                                <a href="https://www.twomr.com.hk/suites/standard-superior-suite/">Standard/Superior
                                                    Suite</a></li>
                                            <li id="menu-item-291"
                                                class="menu-item menu-item-type-post_type menu-item-object-suites menu-item-291">
                                                <a href="https://www.twomr.com.hk/suites/garden-skyline-suite/">Garden/Skyline
                                                    Suite</a></li>
                                            <li id="menu-item-129"
                                                class="menu-item menu-item-type-post_type menu-item-object-suites menu-item-129">
                                                <a
                                                    href="https://www.twomr.com.hk/suites/garden-deluxe-skyline-deluxe-suite/">Garden
                                                    Deluxe/Skyline Deluxe Suite</a></li>
                                            <li id="menu-item-128"
                                                class="menu-item menu-item-type-post_type menu-item-object-suites menu-item-128">
                                                <a href="https://www.twomr.com.hk/suites/garden-skyline-apartment/">Garden/Skyline
                                                    Apartment</a></li>
                                        </ul> --}}
                                    </li>
                                    <li id="menu-item-724"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-724">
                                        <a href="/dining">Ẩm thực</a></li>
                                    <li id="menu-item-132"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-132">
                                        <a href="/event">Sự kiện</a>
                                        {{!-- <ul class="sub-menu">
                                            <li id="menu-item-293"
                                                class="menu-item menu-item-type-post_type menu-item-object-meetings-events menu-item-293">
                                                <a href="https://www.twomr.com.hk/meetings-events/wedding/">Wedding</a>
                                            </li>
                                            <li id="menu-item-658"
                                                class="menu-item menu-item-type-post_type menu-item-object-meetings-events menu-item-658">
                                                <a href="https://www.twomr.com.hk/meetings-events/social-events/">Social
                                                    Events</a></li>
                                            <li id="menu-item-294"
                                                class="menu-item menu-item-type-post_type menu-item-object-meetings-events menu-item-294">
                                                <a
                                                    href="https://www.twomr.com.hk/meetings-events/central-business-event-venue/">Meeting</a>
                                            </li>
                                        </ul> --}}
                                    </li>
                                    <li id="menu-item-176"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-176">
                                        <a href="/offer">Khuyến mãi</a></li>
                                    <li id="menu-item-136"
                                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-136">
                                        <a href="/contact">Liên hệ</a>
                                        {{!-- <ul class="sub-menu">
                                            <li id="menu-item-701"
                                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-701">
                                                <a href="https://www.twomr.com.hk/facilities/">Facilities & Services</a>
                                            </li>
                                            <li id="menu-item-137"
                                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-137">
                                                <a href="https://www.twomr.com.hk/neighbourhood/">Neighbourhood</a></li>
                                            <li id="menu-item-138"
                                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-138">
                                                <a href="https://www.twomr.com.hk/contact-us/">Get in Touch</a></li>
                                        </ul> --}}
                                    </li>
                                    
                                </ul>
                            </nav>

                            {{!-- <div class="cell shrink slot-languages">
                                <ul id="menu-languages" class="dropdown menu slot-languages">
                                    <li id="menu-item-734"
                                        class="zh_HK trp-language-switcher-container menu-item menu-item-type-post_type menu-item-object-language_switcher menu-item-734">
                                        <a href="https://www.twomr.com.hk/tc/"><span data-no-translation><span
                                                    class="trp-ls-language-name">繁</span></span></a></li>
                                    <li id="menu-item-902"
                                        class="zh_CN trp-language-switcher-container menu-item menu-item-type-post_type menu-item-object-language_switcher menu-item-902">
                                        <a href="https://www.twomr.com.hk/sc/"><span data-no-translation><span
                                                    class="trp-ls-language-name">简</span></span></a></li>
                                </ul>
                            </div> --}}

                            <div class="cell shrink slot-availability">
                                <button type="button" class="wp-block-button__link" data-open="reveal-ibe">
                                    <span debug="twomacdonnellroaddirect">
                                        Đặt phòng ngay</span>
                                </button>
                            </div>

                            <div class="cell shrink slot-toggle">
                                <button type="button" class="button" data-toggle="offCanvas"><span
                                        class="screen-reader-text">Mở menu</span></button>
                            </div>

                        </div>

                    </div>

                </div>

            </header>


            {{!-- <h1 class="screen-reader-text">Two MacDonnell Road</h1> --}}
            {{!-- HERO IMAGE --}}
            <div class="hero-image">

                <img width="1200" height="781" src="img/src/main.jpg" class="attachment-large size-large wp-post-image"
                    alt decoding="async" fetchpriority="high"
                    srcset="img/main/main_1600.jpg 1600w, img/main/main_720x480.jpg 720w, img/main/main_768x512.jpg 768w, img/main/main_1526.jpg 1536w, img/main/main_2048.jpg 2048w"
                    sizes="(max-width: 1200px) 100vw, 1200px">
                <div class="hero-image-content" id="hero-image-content">


                    <div class="wrapper">

                        <div class="slot-logo">
                            <center><img src="img/logoHotel.png" alt="logo" style="width: 250; height: auto;"></center>
                            {{!-- <svg width="250" height="155" viewBox="0 0 250 155" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <defs>
                                    <filter id="fp-hero-logo-shadow">
                                        <fedropshadow dx="0" dy="1.5" stdDeviation="3" flood-color="#222"
                                            flood-opacity="0.5" />
                                    </filter>
                                </defs>
                                <path
                                    d="M39.24 131.21h-.88v-9.52h1.28l4.3 8.28 4.31-8.27h1.32v9.52h-.86v-8.4l-4.41 8.38h-.67l-4.4-8.37V131.2zm13.67 0l4.15-9.52h1.19l4.15 9.52h-.94l-.94-2.13h-5.68l-.91 2.1-1.02.03zm2.35-3.07h4.83l-2.43-5.48-2.4 5.48zm13.44 3.19a5.81 5.81 0 01-1.6-.15c-.33-.1-.61-.27-.83-.52a2.5 2.5 0 01-.52-1.06 7.85 7.85 0 01-.16-1.76v-2.6c-.02-.63.04-1.27.16-1.89.08-.4.26-.78.52-1.1.22-.26.52-.44.84-.52a6.38 6.38 0 011.59-.16h2.25a3.5 3.5 0 012.37.59 2.84 2.84 0 01.61 2.1v.51h-.82v-.14a2.47 2.47 0 00-.38-1.54 1.6 1.6 0 00-1.29-.45h-3.08c-.34-.01-.67.04-.99.16-.23.12-.43.3-.56.54-.09.2-.15.4-.19.62-.04.4-.07.81-.05 1.22v2.53c-.02.4 0 .81.05 1.21.04.22.1.44.2.63.12.24.32.42.55.53.32.12.65.18 1 .16h3.07a1.75 1.75 0 001.38-.44c.29-.45.42-.99.37-1.54v-.25h.83v.46c0 .5-.04.97-.14 1.44-.07.32-.23.63-.45.87-.2.24-.49.4-.8.47a8 8 0 01-1.68.14l-2.25-.06zm14.66-9.63c.53-.02 1.07.03 1.59.14.33.08.63.24.89.47.3.3.52.68.63 1.1.15.57.21 1.16.2 1.75v2.58c.01.6-.05 1.19-.2 1.77-.11.41-.33.79-.63 1.1-.25.22-.56.38-.9.47-.5.1-1.04.15-1.58.14h-5.38v-9.52h5.38zm.57 1.05h-5.06v7.4h5.06a1.69 1.69 0 001.4-.51c.33-.54.47-1.17.41-1.8v-2.77a3.18 3.18 0 00-.37-1.82 1.75 1.75 0 00-1.44-.5zm9.9 8.58a6.66 6.66 0 01-1.7-.15 1.89 1.89 0 01-.9-.52c-.28-.3-.46-.67-.56-1.07a7.43 7.43 0 01-.17-1.75v-2.6a8.6 8.6 0 01.17-1.89c.09-.41.28-.8.56-1.1.24-.26.56-.44.9-.52a7.03 7.03 0 011.68-.16h2.4c.56-.01 1.13.04 1.69.16.34.09.65.26.9.51.27.31.46.68.54 1.09.13.59.19 1.19.17 1.8v2.65a7.5 7.5 0 01-.17 1.8c-.08.4-.27.77-.54 1.08a1.8 1.8 0 01-.89.52c-.56.12-1.13.17-1.7.15h-2.39zm2.8-8.7h-3.24c-.36-.02-.73.04-1.07.16-.25.1-.45.3-.58.53-.11.2-.19.42-.23.63-.04.41-.07.82-.06 1.23v2.5c0 .4.02.81.07 1.22.03.22.1.44.21.64.14.24.34.42.59.53.35.12.7.18 1.07.16h3.23c.37.02.73-.04 1.08-.16.25-.11.45-.3.59-.53.1-.2.17-.4.21-.61.04-.37.06-.74.06-1.1v-2.8c0-.36-.02-.73-.07-1.1-.03-.22-.1-.43-.2-.6a1.24 1.24 0 00-.6-.54c-.34-.13-.7-.18-1.07-.16zm7.82 8.58h-.89v-9.52h1.4l6.47 8.46v-8.45h.9v9.52h-1.3l-6.57-8.57v8.56h-.01zm12.98 0h-.9v-9.52h1.42l6.47 8.46v-8.45h.89v9.52H124l-6.57-8.57-.01 8.56zm12.05 0v-9.52h7.06v1.06h-6.16v2.99h5.92v1.04h-5.92v3.35h6.16v1.06l-7.06.02zm10.85 0v-9.52h.9v8.46h5.55v1.05l-6.45.01zm10 0v-9.52h.9v8.46h5.57v1.05l-6.46.01zm18.04 0h-.89v-9.52h5.11c.78-.08 1.56.09 2.24.48a2.33 2.33 0 01.56 1.78v1.14c.03.45-.07.9-.28 1.3-.25.3-.6.52-.98.6a1.17 1.17 0 01.88.56c.22.4.32.84.3 1.3v2.35h-.87v-2.12c.05-.45-.06-.9-.3-1.27-.42-.28-.92-.4-1.42-.34h-4.34v3.74h-.01zm4.5-8.46h-4.5v3.66h4.5c.45.06.92-.06 1.29-.32.25-.37.37-.83.31-1.28v-.45c.05-.45-.06-.9-.31-1.28-.37-.27-.83-.4-1.28-.35v.02zm9.74 8.58a6.56 6.56 0 01-1.7-.15 1.88 1.88 0 01-.9-.52c-.27-.3-.46-.67-.55-1.07a7.8 7.8 0 01-.17-1.75v-2.6c-.02-.63.05-1.27.17-1.89.08-.41.27-.8.55-1.1.24-.26.56-.43.9-.52a7.04 7.04 0 011.69-.16h2.39a7.3 7.3 0 011.7.16c.34.09.65.26.9.51.27.31.45.68.54 1.09.13.59.19 1.19.17 1.8v2.65a7.5 7.5 0 01-.17 1.8c-.09.4-.27.78-.54 1.08-.25.26-.56.43-.9.52-.56.12-1.13.17-1.7.15h-2.38zm2.81-8.7h-3.24c-.37-.02-.73.04-1.07.16-.25.1-.46.3-.59.53-.11.2-.18.42-.21.63-.06.41-.07.82-.07 1.23v2.5c0 .4.01.81.07 1.22.03.22.1.44.21.64.14.24.34.42.59.53.34.12.7.18 1.07.16h3.24c.36.02.73-.04 1.07-.16.25-.11.45-.3.58-.53.1-.2.18-.4.21-.61.04-.37.07-.74.06-1.1v-2.8c0-.36 0-.73-.06-1.1a1.9 1.9 0 00-.2-.6 1.26 1.26 0 00-.59-.54c-.35-.13-.7-.18-1.07-.16zm6.04 8.58l4.16-9.52h1.19l4.15 9.52H200l-.93-2.13h-5.68l-.89 2.13h-1.04zm2.36-3.07h4.83l-2.43-5.48-2.4 5.48zm15.87-6.44c.53-.02 1.06.03 1.59.14.32.08.63.24.88.47.3.3.52.68.63 1.1.16.57.22 1.16.2 1.75v2.58c.02.6-.04 1.19-.19 1.77-.12.41-.34.79-.64 1.1a2.2 2.2 0 01-.88.47c-.53.1-1.06.15-1.6.14h-5.38v-9.52h5.39zm.56 1.05h-5.06v7.4h5.06a1.68 1.68 0 001.4-.51c.33-.54.47-1.17.42-1.8v-2.77a3.2 3.2 0 00-.38-1.82 1.75 1.75 0 00-1.44-.5zM61.67 102.11v2.18H40.92v8.7H38.3V93.4h2.6v8.72h20.77zm0-23.4l-23.38 6.8v-2.25l20.93-6.1-20.93-5.84v-2.9l20.93-5.82-20.93-6.15v-2.31l23.38 6.84v3.13l-20.37 5.8 20.38 5.72v3.08h-.01zM61.95 37c.05 1.4-.07 2.8-.37 4.16-.2.84-.65 1.6-1.28 2.2a5.94 5.94 0 01-2.64 1.36c-1.4.32-2.85.46-4.3.42H47a21.2 21.2 0 01-4.6-.4 5.9 5.9 0 01-2.76-1.36 4.71 4.71 0 01-1.26-2.21 17.62 17.62 0 01-.37-4.16v-5.88c-.05-1.4.08-2.78.38-4.15.2-.84.64-1.6 1.25-2.22a5.9 5.9 0 012.66-1.33c1.46-.32 2.94-.46 4.42-.42h6.51c1.5-.04 2.98.1 4.43.42.98.2 1.9.67 2.64 1.33.62.6 1.06 1.35 1.26 2.19.3 1.37.42 2.78.38 4.19l.02 5.85h-.01zm-21.36-6.93v7.98c-.04.9.1 1.8.4 2.64.25.62.72 1.12 1.3 1.44.48.27 1 .45 1.54.54 1 .12 2 .18 3 .15h6.15c1.01.03 2.01-.03 3.01-.15a4.61 4.61 0 001.54-.54c.6-.31 1.07-.82 1.33-1.44.3-.84.44-1.73.4-2.62V30.1c.03-.9-.1-1.78-.4-2.62a2.96 2.96 0 00-1.3-1.44 5.04 5.04 0 00-1.5-.51c-.88-.12-1.78-.18-2.67-.16h-6.92c-.9-.02-1.82.04-2.71.16-.52.09-1.02.25-1.5.5-.58.33-1.04.84-1.3 1.45-.29.84-.41 1.73-.37 2.62v-.03z" />
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M91.42 108.98h9.43V68.85l-9.43-15.09v55.22zm107.75-81.16h9.48v81.12h-9.5l.02-81.12zm-4.15 4.7l-9.38 14.8v61.64h9.38V32.52zm-9.35 7.06v-11.8h7.46l-7.46 11.8zm-42.83 67.65l-4.3-7.02 43-69.83v15.7l-38.7 61.15zm3.85 1.69h9L181.5 67.9V53.88l-34.81 55.04zm-10.57-4.8l-3.03 4.82h5.97l-2.94-4.81zM93.67 27.47h8.5l38.6 61.44-4.66 7.38-42.44-68.82zm-2.24 4.23v14.33l38.12 60.67 4.1-6.55L91.43 31.7zm-13.57.47l9.42 14.98v61.81H77.8l.07-76.8zm9.44-4.7h-7.5l7.49 11.93.02-11.94-.01.01zm-13.62 85.59h31.3V75.39l23.71 37.66h29.23l23.58-37.4v37.4h31.27v-89.8h-31.68l-37.92 61.73-38.73-61.7h-30.7l-.06 89.77z" />
                            </svg> --}}
                        </div>

                        <ul id="fp-menu" class="menu slot-menu">
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-127"><a
                                    href="/room">Phòng</a></li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-724"><a
                                    href="/food">Ẩm thực</a></li>
                            <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-132"><a
                                    href="/event">Sự kiện</a></li>
                            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-136"><a
                                    href="/offer">Khuyến mãi</a></li>                   
                            <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-136"><a
                                    href="/contact">Liên hệ</a></li>
                        </ul>
                        {{!-- <ul id="menu-languages-1" class="menu slot-languages">
                            <li
                                class="zh_HK trp-language-switcher-container menu-item menu-item-type-post_type menu-item-object-language_switcher menu-item-734">
                                <a href="https://www.twomr.com.hk/tc/"><span data-no-translation><span
                                            class="trp-ls-language-name">繁</span></span></a></li>
                            <li
                                class="zh_CN trp-language-switcher-container menu-item menu-item-type-post_type menu-item-object-language_switcher menu-item-902">
                                <a href="https://www.twomr.com.hk/sc/"><span data-no-translation><span
                                            class="trp-ls-language-name">简</span></span></a></li>
                        </ul> --}}
                    </div>

                </div>

            </div>

            <div class="content-block">
                <div class="wrapper">

                    <main id="main">

                        <div class="ibe-banner">

                            <p>Đặt phòng tại khách sạn Luxtery, Đà Nẵng</p>
                            <p class="is-excerpt">
                                Một khu đô thị tôn nghiêm hòa quyện sự yên bình của Đà Nẵng, gần Trung tâm Thành Phố và tầm nhìn rộng mở ra Bãi Biển Mỹ Khê và thành phố mang đến cuộc sống bên bờ biển dễ tiếp cận cho những du khách sành điệu.
                            </p>

                            {{!-- <div class="wp-block-buttons is-content-justification-center">

                                <div class="wp-block-button is-style-primary"><button class="wp-block-button__link"
                                        type="submit" data-open="reveal-ibe">Book Now</button></div>
                                <div class="wp-block-button is-style-secondary"><a class="wp-block-button__link"
                                        href="https://www.twomr.com.hk/contact-us/">Send Inquiry</a></div>
                            </div> --}}

                            {{!-- <p class="has-text-align-center">Liên hệ: 0236.387.28.28</p> --}}

                        </div>




                        <h2 class="has-text-align-center wp-block-heading">Khung cảnh đẹp nhất của thành phố</h2>



                        <p class="has-text-align-center">Tái khám phá cuộc sống vốn dĩ phải có với cuộc sống đô thị-biển đẹp nhất giữa những con đường quanh co, tươi tốt của Đà Nẵng. Cho dù bạn đang chạy bộ buổi sáng trên bãi biển Mỹ Khê lấp lánh, hòa mình vào cuộc sống về đêm của Trung tâm Thành phố hay hòa mình cùng những người thân yêu và những người hàng xóm thân thiết tại Astra Sky Lounge của chúng tôi, bạn sẽ luôn thấy mình bị cuốn hút về Khách sạn Luxtery, nơi nghỉ dưỡng của bạn. nhà xa nhà.</p>



                        {{!-- <div
                            class="wp-block-buttons is-horizontal is-content-justification-center is-layout-flex wp-container-1 wp-block-buttons-is-layout-flex">
                            <div class="wp-block-button"><a class="wp-block-button__link wp-element-button"
                                    href="https://s35891.pcdn.co/wp-content/uploads/sites/5/MRHK_Brochure_EN.pdf"
                                    target="_blank" rel="noreferrer noopener"><strong>Download Brochure</strong></a>
                            </div>



                            <div class="wp-block-button is-style-fill"><a
                                    class="wp-block-button__link wp-element-button"
                                    href="https://s35891.pcdn.co/wp-content/uploads/sites/5/MRHK_Factsheet_EN_2022.pdf"
                                    target="_blank" rel="noreferrer noopener">Download Fact Sheet</a></div>
                        </div> --}}



                        <div class="wp-block-client-pillars pillars">
                            <figure class="block-image"><img decoding="async" width="1600" height="1067"
                                    src="img/imgview/imgview1.jpg" alt="Urban Sanctuary"
                                    class="wp-image-311"
                                    srcset="img/imgview/imgview1_1600.jpg 1600w, img/imgview/imgview1_720.jpg 720w, img/imgview/imgview1_768.jpg 768w, img/imgview/imgview1_1536.jpg 1536w"
                                    sizes="(max-width: 1600px) 100vw, 1600px">
                                <figcaption class="block-content">
                                    <h3>Điều tuyệt vời nhất của cả hai thế giới</h3>
                                    <p>Các phòng được bài trí trang nhã với tầm nhìn ngoạn mục ra đường chân trời và bãi biển nổi tiếng của Đà Nẵng, nằm ở trung tâm của mọi hoạt động</p>
                                </figcaption>
                            </figure>

                            <figure class="block-image"><img decoding="async" width="2400" height="1624"
                                    src="img/imgview/imgview2.jpg" alt="Business Meets Lush"
                                    class="wp-image-517"
                                    srcset="img/imgview/imgview2_2400.jpg 2400w, img/imgview/imgview2_720.jpg 720w, img/imgview/imgview2_1600.jpg 1600w, img/imgview/imgview2_768.jpg 768w, img/imgview/imgview2_1536.jpg 1536w, img/imgview/imgview2_2048.jpg 2048w"
                                    sizes="(max-width: 2400px) 100vw, 2400px">
                                <figcaption class="block-content">
                                    <h3>Không gian giao lưu & hòa nhập</h3>
                                    <p>Thư giãn với đồ uống hoặc bữa ăn bình thường, tổ chức các cuộc họp và sự kiện, tập thể dục hoặc đơn giản là thư giãn - tất cả trong một tòa nhà dành riêng cho đời sống xã hội sôi động
                                    </p>
                                </figcaption>
                            </figure>

                            <figure class="block-image"><img decoding="async" loading="lazy" width="1600" height="1067"
                                    src="img/imgview/imgview3.jpg" alt="Spaces to Mingle"
                                    class="wp-image-328"
                                    srcset="img/imgview/imgview3_1600.jpg 1600w, img/imgview/imgview3_720.jpg 720w, img/imgview/imgview3_768.jpg 768w, img/imgview/imgview3_1536.jpg 1536w"
                                    sizes="(max-width: 1600px) 100vw, 1600px">
                                <figcaption class="block-content">
                                    <h3>Title</h3>
                                    <p>sub title: Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam
                                        molestias ab sit corrupti eligendi facilis, incidunt asperiores magnam
                                        aspernatur at alias ad dolores nisi, deserunt obcaecati tempora, minus sint
                                        sequi!</p>
                                </figcaption>
                            </figure>
                        </div>



                        <h2 class="has-text-align-center wp-block-heading">Phòng của chúng tôi</h2>



                        {{!-- <p class="has-text-align-center">Reside in our unique, serviced apartment-style accommodations,
                            each offering unfettered views of the city skyline, well-equipped with an open kitchen and
                            the basic amenities for hassle-free living.</p> --}}


                        {{!-- <div class="stays-filter" data-filter-jets>
                            <ul class="tabs" role="tablist">
                                <li class="tabs-title is-active" role="presentation"><a href="#all"
                                        aria-selected="true">All</a></li>
                                <li class="tabs-title" role="presentation"><a href="#stays-extended-stay"
                                        aria-selected="false">Extended Stay</a></li>
                                <li class="tabs-title" role="presentation"><a href="#stays-shorter-stay"
                                        aria-selected="false">Shorter Stay</a></li>
                            </ul>
                        </div> --}}
                        <div class="grid-x grid-margin-x collection-rooms">

                            <div
                                class="cell medium-6 large-4 card-suite post-83 suites type-suites status-publish has-post-thumbnail hentry stays-extended-stay stays-shorter-stay">

                                <div class="card-image">
                                    <a href="https://www.twomr.com.hk/suites/garden-skyline-room/">
                                        <img loading="lazy" width="2560" height="1701"
                                            src="img/LansonPlace_TMR_GardenSkylineRoom.jpg.webp"
                                            class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt
                                            decoding="async"
                                            srcset="img/LansonPlace_TMR_GardenSkylineRoom.jpg.webp 2560w, img/LansonPlace_TMR_GardenSkylineRoom-720x478.jpg.webp 720w, img/LansonPlace_TMR_GardenSkylineRoom-1600x1063.jpg.webp 1600w, img/LansonPlace_TMR_GardenSkylineRoom-768x510.jpg.webp 768w, img/LansonPlace_TMR_GardenSkylineRoom-1536x1021.jpg.webp 1536w, img/LansonPlace_TMR_GardenSkylineRoom-2048x1361.jpg.webp 2048w"
                                            sizes="(max-width: 2560px) 100vw, 2560px"> </a>
                                </div>

                                <p class="room-area">336ft²</p>
                                <p class="card-title"><a
                                        href="https://www.twomr.com.hk/suites/garden-skyline-room/">Phòng Grand Suite</a></p>

                                <p class="room-view">City/garden view</p>
                                <ul class="card-actions">
                                    <li><a href="https://www.twomr.com.hk/suites/garden-skyline-room/"
                                            data-open="reveal-ibe" data-ibe-parameters="{" room_type ": "
                                            IBE-83 "}">Book now</a></li>
                                    <li><a href="https://www.twomr.com.hk/contact-us/?enquiry=extended-stay&suite=83">Send
                                            inquiry</a></li>
                                </ul>

                            </div>


                            <div
                                class="cell medium-6 large-4 card-suite post-86 suites type-suites status-publish has-post-thumbnail hentry stays-extended-stay stays-shorter-stay">

                                <div class="card-image">
                                    <a href="https://www.twomr.com.hk/suites/standard-superior-suite/">
                                        <img loading="lazy" width="2400" height="1600"
                                            src="img/LansonPlace_TMR_StandardSuperiorSuite_1.jpg.webp"
                                            class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt
                                            decoding="async"
                                            srcset="img/LansonPlace_TMR_StandardSuperiorSuite_1.jpg.webp 2400w, img/LansonPlace_TMR_StandardSuperiorSuite_1-720x480.jpg.webp 720w, img/LansonPlace_TMR_StandardSuperiorSuite_1-1600x1067.jpg.webp 1600w, img/LansonPlace_TMR_StandardSuperiorSuite_1-768x512.jpg.webp 768w, img/LansonPlace_TMR_StandardSuperiorSuite_1-1536x1024.jpg.webp 1536w, img/LansonPlace_TMR_StandardSuperiorSuite_1-2048x1365.jpg.webp 2048w"
                                            sizes="(max-width: 2400px) 100vw, 2400px"> </a>
                                </div>

                                <p class="room-area">470ft²</p>
                                <p class="card-title"><a
                                        href="https://www.twomr.com.hk/suites/standard-superior-suite/">Phòng Grand Family</a></p>

                                <p class="room-view">City view</p>
                                <ul class="card-actions">
                                    <li><a href="https://www.twomr.com.hk/suites/standard-superior-suite/"
                                            data-open="reveal-ibe" data-ibe-parameters="{" room_type ": "
                                            IBE-86 "}">Book now</a></li>
                                    <li><a href="https://www.twomr.com.hk/contact-us/?enquiry=extended-stay&suite=86">Send
                                            inquiry</a></li>
                                </ul>

                            </div>

                            <div
                                class="cell medium-6 large-4 card-suite post-267 suites type-suites status-publish has-post-thumbnail hentry stays-extended-stay stays-shorter-stay">

                                <div class="card-image">
                                    <a href="https://www.twomr.com.hk/suites/garden-skyline-suite/">
                                        <img loading="lazy" width="2560" height="1707"
                                            src="img/LansonPlace_TMR_GardenSkylineSuite_1.jpg.webp"
                                            class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt
                                            decoding="async"
                                            srcset="img/LansonPlace_TMR_GardenSkylineSuite_1.jpg.webp 2560w, img/LansonPlace_TMR_GardenSkylineSuite_1-720x480.jpg.webp 720w, img/LansonPlace_TMR_GardenSkylineSuite_1-1600x1067.jpg.webp 1600w, img/LansonPlace_TMR_GardenSkylineSuite_1-768x512.jpg.webp 768w, img/LansonPlace_TMR_GardenSkylineSuite_1-1536x1024.jpg.webp 1536w, img/LansonPlace_TMR_GardenSkylineSuite_1-2048x1366.jpg.webp 2048w"
                                            sizes="(max-width: 2560px) 100vw, 2560px"> </a>
                                </div>

                                <p class="room-area">560ft²</p>
                                <p class="card-title"><a
                                        href="https://www.twomr.com.hk/suites/garden-skyline-suite/">Phòng Deluxe Twin</a></p>

                                <p class="room-view">City/garden view</p>
                                <ul class="card-actions">
                                    <li><a href="https://www.twomr.com.hk/suites/garden-skyline-suite/"
                                            data-open="reveal-ibe" data-ibe-parameters="{" room_type ": "
                                            IBE-267 "}">Book now</a></li>
                                    <li><a href="https://www.twomr.com.hk/contact-us/?enquiry=extended-stay&suite=267">Send
                                            inquiry</a></li>
                                </ul>

                            </div>


                            <div
                                class="cell medium-6 large-4 card-suite post-105 suites type-suites status-publish has-post-thumbnail hentry stays-extended-stay stays-shorter-stay">

                                <div class="card-image">
                                    <a href="https://www.twomr.com.hk/suites/garden-deluxe-skyline-deluxe-suite/">
                                        <img loading="lazy" width="2560" height="1707"
                                            src="img/LansonPlace_TMR_GardenSkylineDeluxeSuite_1.jpg.webp"
                                            class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt
                                            decoding="async"
                                            srcset="img/LansonPlace_TMR_GardenSkylineDeluxeSuite_1.jpg.webp 2560w, img/LansonPlace_TMR_GardenSkylineDeluxeSuite_1-720x480.jpg.webp 720w, img/LansonPlace_TMR_GardenSkylineDeluxeSuite_1-1600x1067.jpg.webp 1600w, img/LansonPlace_TMR_GardenSkylineDeluxeSuite_1-768x512.jpg.webp 768w, img/LansonPlace_TMR_GardenSkylineDeluxeSuite_1-1536x1024.jpg.webp 1536w, img/LansonPlace_TMR_GardenSkylineDeluxeSuite_1-2048x1366.jpg.webp 2048w"
                                            sizes="(max-width: 2560px) 100vw, 2560px"> </a>
                                </div>

                                <p class="room-area">650ft²</p>
                                <p class="card-title"><a
                                        href="https://www.twomr.com.hk/suites/garden-deluxe-skyline-deluxe-suite/">Phòng Deluxe Double</a></p>

                                <p class="room-view">City/garden view</p>
                                <ul class="card-actions">
                                    <li><a href="https://www.twomr.com.hk/suites/garden-deluxe-skyline-deluxe-suite/"
                                            data-open="reveal-ibe" data-ibe-parameters="{" room_type ": "
                                            IBE-105 "}">Book now</a></li>
                                    <li><a href="https://www.twomr.com.hk/contact-us/?enquiry=extended-stay&suite=105">Send
                                            inquiry</a></li>
                                </ul>

                            </div>


                            <div
                                class="cell medium-6 large-4 card-suite post-107 suites type-suites status-publish has-post-thumbnail hentry stays-extended-stay">

                                <div class="card-image">
                                    <a href="https://www.twomr.com.hk/suites/garden-skyline-apartment/">
                                        <img loading="lazy" width="2400" height="1611"
                                            src="img/LansonPlace_TMR_GardenSkylineApartment.jpg.webp"
                                            class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt
                                            decoding="async"
                                            srcset="img/LansonPlace_TMR_GardenSkylineApartment.jpg.webp 2400w, img/LansonPlace_TMR_GardenSkylineApartment-720x483.jpg.webp 720w, img/LansonPlace_TMR_GardenSkylineApartment-1600x1074.jpg.webp 1600w, img/LansonPlace_TMR_GardenSkylineApartment-768x516.jpg.webp 768w, img/LansonPlace_TMR_GardenSkylineApartment-1536x1031.jpg.webp 1536w, img/LansonPlace_TMR_GardenSkylineApartment-2048x1375.jpg.webp 2048w"
                                            sizes="(max-width: 2400px) 100vw, 2400px"> </a>
                                </div>

                                <p class="room-area">750ft²</p>
                                <p class="card-title"><a
                                        href="https://www.twomr.com.hk/suites/garden-skyline-apartment/">Phòng Luxtery Suite</a></p>

                                <p class="room-view">City/garden view</p>
                                <ul class="card-actions">
                                    <li><a href="https://www.twomr.com.hk/contact-us/?enquiry=extended-stay&suite=107">Send
                                            inquiry</a></li>
                                </ul>

                            </div>

                            <div
                                class="cell medium-6 large-4 card-suite post-107 suites type-suites status-publish has-post-thumbnail hentry stays-extended-stay">

                                <div class="card-image">
                                    <a href="https://www.twomr.com.hk/suites/garden-skyline-apartment/">
                                        <img loading="lazy" width="2400" height="1611"
                                            src="img/LansonPlace_TMR_GardenSkylineApartment.jpg.webp"
                                            class="attachment-post-thumbnail size-post-thumbnail wp-post-image" alt
                                            decoding="async"
                                            srcset="img/LansonPlace_TMR_GardenSkylineApartment.jpg.webp 2400w, img/LansonPlace_TMR_GardenSkylineApartment-720x483.jpg.webp 720w, img/LansonPlace_TMR_GardenSkylineApartment-1600x1074.jpg.webp 1600w, img/LansonPlace_TMR_GardenSkylineApartment-768x516.jpg.webp 768w, img/LansonPlace_TMR_GardenSkylineApartment-1536x1031.jpg.webp 1536w, img/LansonPlace_TMR_GardenSkylineApartment-2048x1375.jpg.webp 2048w"
                                            sizes="(max-width: 2400px) 100vw, 2400px"> </a>
                                </div>

                                <p class="room-area">750ft²</p>
                                <p class="card-title"><a
                                        href="https://www.twomr.com.hk/suites/garden-skyline-apartment/">Phòng President Suite</a></p>

                                <p class="room-view">City/garden view</p>
                                <ul class="card-actions">
                                    <li><a href="https://www.twomr.com.hk/contact-us/?enquiry=extended-stay&suite=107">Send
                                            inquiry</a></li>
                                </ul>

                            </div>
                        </div>
                    </main>
                </div>


                <h2 class="has-text-align-center wp-block-heading">Astra café & Lounge</h2>



                <p class="has-text-align-center">Khu vực chung, thậm chí cả hồ bơi trên sân thượng của chúng tôi -  đều có thể là không gian phòng khách và phòng ăn, văn phòng và phòng làm việc mở rộng của bạn, sau một ngày tuyệt vời khám phá và dù lịch bận rộn cùng gia đình và bạn bè </p>



                {{!-- <p class="has-text-align-center"><a href="https://www.twomr.com.hk/facilities/">View all services and
                        facilities</a></p> --}}



                <figure class="wp-block-image alignfull size-large"><img decoding="async" loading="lazy" width="1600"
                        height="899" src="img/LansonPlace_TMR_CafeBarOn8-e1620285001991-1600x899.jpg.webp" alt
                        class="wp-image-483"
                        srcset="img/LansonPlace_TMR_CafeBarOn8-e1620285001991-1600x899.jpg.webp 1600w, img/LansonPlace_TMR_CafeBarOn8-e1620285001991-720x404.jpg.webp 720w, img/LansonPlace_TMR_CafeBarOn8-e1620285001991-768x431.jpg.webp 768w, img/LansonPlace_TMR_CafeBarOn8-e1620285001991-1536x863.jpg.webp 1536w, img/LansonPlace_TMR_CafeBarOn8-e1620285001991-2048x1150.jpg.webp 2048w"
                        sizes="(max-width: 1600px) 100vw, 1600px"></figure>



                {{!-- <h2 class="has-text-align-center wp-block-heading">Work, Live and Play</h2>



                <p class="has-text-align-center">Step out front into the heart of the city, with nature as your
                    backyard.</p>



                <div class="wp-block-media-text is-stacked-on-mobile">
                    <figure class="wp-block-media-text__media"><img decoding="async" loading="lazy" width="1600"
                            height="1067" src="img/other-panorama.jpg.webp" alt="Hong Kong skyline"
                            class="wp-image-311 size-full"
                            srcset="img/other-panorama.jpg.webp 1600w, img/other-panorama-720x480.jpg.webp 720w, img/other-panorama-768x512.jpg.webp 768w, img/other-panorama-1536x1024.jpg.webp 1536w"
                            sizes="(max-width: 1600px) 100vw, 1600px"></figure>
                    <div class="wp-block-media-text__content">
                        <h3 class="wp-block-heading">Discover Central and Mid-levels</h3>



                        <p>Head to Central for world-class offices and fashion flagships, or explore the famous side
                            streets of Mid-levels for the hottest in culture and entertainment. For nature-lovers, the
                            Hong Kong Park and the Peak are just a short ride
                            away, perfect for a morning jog or a weekend hike.</p>



                        <p><a href="https://www.twomr.com.hk/neighbourhood/">Discover the neighbourhood</a></p>
                    </div>
                </div> --}}



                <div class="wp-block-media-text has-media-on-the-right is-stacked-on-mobile">
                    <div class="wp-block-media-text__content">
                        <h3 class="wp-block-heading">Đường đến Luxtery Hotel</h3>



                        <p>136 Phạm Văn Đồng, An Hải Bắc,<br>Sơn Trà, Đà Nẵng </p>



                        <p><a href="#">Xem thêm thông tin</a></p>
                    </div>

                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3833.900563616159!2d108.23320767508903!3d16.070648984609086!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31421829b09bb4f1%3A0x45b356df44712eaf!2zMTM2IFBo4bqhbSBWxINuIMSQ4buTbmcsIEFuIEjhuqNpIELhuq9jLCBTxqFuIFRyw6AsIMSQw6AgTuG6tW5nIDU1MDAwMCwgVmlldG5hbQ!5e0!3m2!1sen!2s!4v1694353131402!5m2!1sen!2s" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    {{!-- <figure class="wp-block-media-text__media"><img decoding="async" loading="lazy" width="800"
                            height="600" src="img/mapexport.jpg.webp" alt class="wp-image-584 size-full"
                            srcset="img/mapexport.jpg.webp 800w, img/mapexport-720x540.jpg.webp 720w, img/mapexport-768x576.jpg.webp 768w"
                            sizes="(max-width: 800px) 100vw, 800px"></figure> --}}
                </div>


                <div class="wp-block-client-reviews">
                    <h2 class="block-title">Lắng nghe ý kiến từ khách của Luxtery</h2>
                    <p class="block-content has-text-align-center">Khám phá điều gì khiến khách hàng của chúng tôi quay trở lại Khách sạn Luxtery trong những năm qua.</p>
                    <div class="grid-x grid-margin-x">
                        <div class="cell large-10 large-offset-1 is-light-bg slot-review" data-slick="{"
                            arrows ": false}">
                            <div data-no-translation>
                                <div class="card-review">
                                    <p class="slot-score">5/5</p>
                                    <blockquote class="wp-block-quote">
                                        <p>Lived at Two MacDonnell Road for 2+ years. Wonderful staff, very friendly and
                                            helpful no matter how large or small the request. Great amenities; 24 hour
                                            gym, 24 hour laundry room, 24 hour front desk and doormen.
                                            Completely safe, never a worry. Very good restaurant on the premises. Rooms
                                            are bright and pleasant. Rooms refreshed/cleaned every day. Had a wonderful
                                            2+year stay. Highly recommended.</p>
                                        <cite>michaeljpaulus, Dec 2022 • Review from Tripadvisor</cite>
                                    </blockquote>
                                    <p></p>
                                </div>
                            </div>
                            
                            <div data-no-translation>
                                <div class="card-review">
                                    <p class="slot-score">5/5</p>
                                    <blockquote class="wp-block-quote">
                                        <p>Lived at Two MacDonnell Road for 2+ years. Wonderful staff, very friendly and
                                            helpful no matter how large or small the request. Great amenities; 24 hour
                                            gym, 24 hour laundry room, 24 hour front desk and doormen.
                                            Completely safe, never a worry. Very good restaurant on the premises. Rooms
                                            are bright and pleasant. Rooms refreshed/cleaned every day. Had a wonderful
                                            2+year stay. Highly recommended.</p>
                                        <cite>michaeljpaulus, Dec 2022 • Review from Tripadvisor</cite>
                                    </blockquote>
                                    <p></p>
                                </div>
                            </div>

                            <div data-no-translation>
                                <div class="card-review">
                                    <p class="slot-score">5/5</p>
                                    <blockquote class="wp-block-quote">
                                        <p>Lived at Two MacDonnell Road for 2+ years. Wonderful staff, very friendly and
                                            helpful no matter how large or small the request. Great amenities; 24 hour
                                            gym, 24 hour laundry room, 24 hour front desk and doormen.
                                            Completely safe, never a worry. Very good restaurant on the premises. Rooms
                                            are bright and pleasant. Rooms refreshed/cleaned every day. Had a wonderful
                                            2+year stay. Highly recommended.</p>
                                        <cite>michaeljpaulus, Dec 2022 • Review from Tripadvisor</cite>
                                    </blockquote>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>










            </div>
        </div>


        <footer class="footer">
            <div class="wrapper">
                <div class="footer-logo">
                    <img width="250" height="155" src="img/logoHotel.png" class="attachment-full size-full" alt
                        decoding="async" loading="lazy">
                </div>

                <div class="grid-x grid-margin-x">
                    <div class="cell auto">
                        <div class="grid-x grid-margin-x" style="justify-content: center;">
                            <div class="cell shrink footer-widget">
                                <h2 class="footer-widget-title">Địa chỉ</h2>
                                <div class="textwidget">
                                    <address>136 Phạm Văn Đồng, An Hải Bắc, Sơn Trà, Đà Nẵng 
                                    </address>
                                    <p>T: 0236.387.28.28<br> E: <a href="mailto:">info@luxteryhotel.com</a>
                                    </p>
                                </div>
                            </div>
                            <div class="cell shrink footer-widget">
                                <h2 class="footer-widget-title">Dành cho khách hàng</h2>
                                <nav class="menu-for-our-guests-container" aria-label="For Our Guests">
                                    <ul id="menu-for-our-guests" class="menu">
                                        <li id="menu-item-167"
                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-167">
                                            <a href="/room">Phòng của chúng tôi</a></li>
                                        <li id="menu-item-725"
                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-725">
                                            <a href="/dining">Ẩm thực</a></li>
                                        <li id="menu-item-169"
                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-169">
                                            <a href="/event">Sự kiện</a></li>
                                        <li id="menu-item-175"
                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-175">
                                            <a href="/facilities-services">Cơ sở vật chức & Dịch vụ</a></li>
                                        <li id="menu-item-168"
                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-168">
                                            <a href="/reviews">Đánh giá</a></li>
                                        <li id="menu-item-170"
                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-170">
                                            <a href="/contact">Liên hệ</a></li>
                                        
                                    </ul>
                                </nav>
                            </div>
                            {{!-- <div class="cell shrink footer-widget">
                                <h2 class="footer-widget-title">Về chúng tôi/h2>
                                    <nav class="menu-about-us-container" aria-label="About Us">
                                        <ul id="menu-about-us" class="menu">
                                            <li id="menu-item-249"
                                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-249">
                                                <a href="https://www.twomr.com.hk/careers/">Careers</a></li>
                                            <li id="menu-item-250"
                                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-250">
                                                <a href="https://www.twomr.com.hk/mediacentre/">Media Centre</a></li>
                                            <li id="menu-item-251"
                                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-251">
                                                <a target="_blank" rel="noopener" href="https://lansonplace.com/">Lanson
                                                    Place</a></li>
                                        </ul>
                                    </nav>
                            </div> --}}
                            {{!-- <div class="cell shrink footer-widget"
                                style="text-align: center;justify-content: center">
                                <p>Sign up for the latest news, travel inspirations and exclusive offers.</p>
                                <button class="button wp-block-button__link" data-open="reveal-newsletter">
                                    STAY CONNECTED</button>
                            </div> --}}
                        </div>
                    </div>


                    <div class="reveal" id="reveal-newsletter" data-reveal="newsletter">

                        <h2>Subscribe to our newsletter</h2>
                        <div class="wp-block-contact-form-7-contact-form-selector">
                            <form id="newsletter-signup" method="POST" class="form-group" autocomplete="off">
                                <input id="formId" type="hidden" value="11697D90-00E2-4026-B695-577171E2C27B">
                                <div class="is-text" style="margin-top: 1rem;">
                                    <label for="newsletter_title">Title</label>
                                    <select id="newsletter_title">
                                        <option value="Mr">Mr.</option>
                                        <option value="Mrs">Mrs.</option>
                                        <option value="Miss">Miss.</option>
                                        <option value="Ms">Ms.</option>
                                    </select>
                                </div>
                                <div class="is-text" style="margin-top: 1rem">
                                    <label for="newsletter_firstname">First Name</label>
                                    <input id="newsletter_firstname" type="text" required placeholder="Your first name"
                                        autocomplete="off">
                                </div>
                                <div class="is-text" style="margin-top: 1rem;">
                                    <label for="newsletter_lastname">Last Name</label>
                                    <input id="newsletter_lastname" type="text" required placeholder="Your last name"
                                        autocomplete="off">
                                </div>
                                <div class="is-email" style="margin-top: 1rem;margin-bottom: 2rem;">
                                    <label for="newsletter_email">Email</label>
                                    <input id="newsletter_email" type="email" required placeholder="example@company.com"
                                        autocomplete="off">
                                </div>

                                <button id="submit" type="submit">Subscribe</button>
                                <!-- <input id="submit" type="button" value=Subscribe /> -->
                            </form>
                        </div>
                        <script type="text/javascript" src="javascript/jquery-1.12.3.js"></script>
                        <script type="text/javascript">
                            $(document).ready(function () {
                                $("#submit").click(function (e) {
                                    e.preventDefault();
                                    var email = document.getElementById("newsletter_email").value;
                                    var firstName = document.getElementById("newsletter_firstname").value;
                                    var lastName = document.getElementById("newsletter_lastname").value;
                                    var salutation = document.getElementById("newsletter_title").value;

                                    var data = {
                                        PostData: {
                                            formId: document.getElementById('formId').value,
                                            emailAddress: email,
                                            salutation: salutation,
                                            firstName: firstName,
                                            lastName: lastName
                                        }
                                    };

                                    $.ajax({
                                        type: "POST",
                                        url: "https://web2.cendynhub.com/FormsRest/submit/11697D90-00E2-4026-B695-577171E2C27B?format=json",
                                        contentType: "application/json",
                                        crossDomain: true,
                                        dataType: "json",
                                        data: JSON.stringify(data)
                                    }).done(function (result) {
                                        if (result.Message !== 'Failure') {
                                            document.getElementById('newsletter-signup').style.display = 'none'
                                            document.getElementById('success').style.display = 'block'
                                        } else {
                                            document.getElementById('newsletter-signup').style.display = 'none'
                                            document.getElementById('failed').style.display = 'block'
                                        }
                                    }).fail(function (XMLHttpRequest, textStatus, errorThrown) {
                                        console.log(XMLHttpRequest.toString());
                                        alert("Request: " + XMLHttpRequest.toString() + "\n\nStatus: " + textStatus + "\n\nError: " + errorThrown);
                                    });
                                });
                            });
                        </script>

                        <p id="success" style="display: none" class="success">Subscribed successfully.Thank you for
                            getting in touch!</p>
                        <p id="failed" style="display: none" class="fail">Something went wrong. Please try again later.
                        </p>
                        <!-- <div class="wp-block-contact-form-7-contact-form-selector">
    <h2>Subscribe to our newsletter</h2><script type="text/javascript"></script>
                <div class='gf_browser_unknown gform_wrapper gravity-theme gform-theme--no-framework' data-form-theme='gravity-theme' data-form-index='0' id='gform_wrapper_4' ><div id='gf_4' class='gform_anchor' tabindex='-1'></div>
                        <div class='gform_heading'>
                            <p class='gform_description'></p>
                        </div><form method='post' enctype='multipart/form-data' target='gform_ajax_frame_4' id='gform_4'  action='/#gf_4' data-formid='4' novalidate>
                        <div class='gform-body gform_body'><div id='gform_fields_4' class='gform_fields top_label form_sublabel_above description_above'><div id="field_4_4"  class="gfield gfield--type-select gfield--width-full gfield_contains_required field_sublabel_above gfield--no-description field_description_above gfield_visibility_visible is-select is-large"  data-js-reload="field_4_4"><label class='gfield_label gform-field-label' for='input_4_4' >Title<span class="gfield_required"><span class="gfield_required gfield_required_text">(Required)</span></span></label><div class='ginput_container ginput_container_select'><select name='input_4' id='input_4_4' class='large gfield_select'    aria-required="true" aria-invalid="false" ><option value='Mr' >Mr</option><option value='Mrs' >Mrs</option><option value='Miss' >Miss</option><option value='Ms' >Ms</option></select></div></div><div id="field_4_5"  class="gfield gfield--type-text gfield--width-half gfield_contains_required field_sublabel_above gfield--no-description field_description_above gfield_visibility_visible is-text is-large"  data-js-reload="field_4_5"><label class='gfield_label gform-field-label' for='input_4_5' >First Name<span class="gfield_required"><span class="gfield_required gfield_required_text">(Required)</span></span></label><div class='ginput_container ginput_container_text'><input name='input_5' id='input_4_5' type='text' value='' class='large'     aria-required="true" aria-invalid="false"   /> </div></div><div id="field_4_6"  class="gfield gfield--type-text gfield--width-half gfield_contains_required field_sublabel_above gfield--no-description field_description_above gfield_visibility_visible is-text is-large"  data-js-reload="field_4_6"><label class='gfield_label gform-field-label' for='input_4_6' >Last Name<span class="gfield_required"><span class="gfield_required gfield_required_text">(Required)</span></span></label><div class='ginput_container ginput_container_text'><input name='input_6' id='input_4_6' type='text' value='' class='large'     aria-required="true" aria-invalid="false"   /> </div></div><div id="field_4_2"  class="gfield gfield--type-email gfield--width-full gfield_contains_required field_sublabel_above gfield--no-description field_description_above gfield_visibility_visible is-email is-large"  data-js-reload="field_4_2"><label class='gfield_label gform-field-label' for='input_4_2' >Email<span class="gfield_required"><span class="gfield_required gfield_required_text">(Required)</span></span></label><div class='ginput_container ginput_container_email'>
                            <input name='input_2' id='input_4_2' type='email' value='' class='large'    aria-required="true" aria-invalid="false"  />
                        </div></div></div></div>
        <div class='gform_footer top_label'> <input type='submit' id='gform_submit_button_4' class='gform_button button' value='Submit'  onclick='if(window["gf_submitting_4"]){return false;}  if( !jQuery("#gform_4")[0].checkValidity || jQuery("#gform_4")[0].checkValidity()){window["gf_submitting_4"]=true;}  ' onkeypress='if( event.keyCode == 13 ){ if(window["gf_submitting_4"]){return false;} if( !jQuery("#gform_4")[0].checkValidity || jQuery("#gform_4")[0].checkValidity()){window["gf_submitting_4"]=true;}  jQuery("#gform_4").trigger("submit",[true]); }' /> <input type='hidden' name='gform_ajax' value='form_id=4&title=&description=1&tabindex=0' />
            <input type='hidden' class='gform_hidden' name='is_submit_4' value='1' />
            <input type='hidden' class='gform_hidden' name='gform_submit' value='4' />
            
            <input type='hidden' class='gform_hidden' name='gform_unique_id' value='' />
            <input type='hidden' class='gform_hidden' name='state_4' value='WyJ7XCI0XCI6W1wiYTUzZDUzOGVhNzc4MDUwODEyNTczNjliMTY0ZTNmOGNcIixcIjJmNzc1N2FkZDg4Y2MzMTY5MDA5ZTcyZDAyYjRhZDBiXCIsXCIwYjA1NWMzMzQzMjRiNzU2ZWY5ODhkYWY0Y2EyZjk0ZlwiLFwiNzkyOTVjZjQzZWU5NzgzNmExZjEyMGQ1OGJiNTFkYWVcIl19IiwiNTE5MGJjZDMzOTEzMWU2OTFkMjg1YWY5MGFmNTc2NDkiXQ==' />
            <input type='hidden' class='gform_hidden' name='gform_target_page_number_4' id='gform_target_page_number_4' value='0' />
            <input type='hidden' class='gform_hidden' name='gform_source_page_number_4' id='gform_source_page_number_4' value='1' />
            <input type='hidden' name='gform_field_values' value='' />
            
        </div>
                        </form>
                        </div>
		                <iframe style='display:none;width:0px;height:0px;' src='about:blank' name='gform_ajax_frame_4' id='gform_ajax_frame_4' title='This iframe contains the logic required to handle Ajax powered Gravity Forms.'></iframe>
		                <script>
gform.initializeOnLoaded( function() {gformInitSpinner( 4, 'https://s35891.pcdn.co/wp-content/plugins/gravityforms/img/spinner.svg', true );jQuery('#gform_ajax_frame_4').on('load',function(){var contents = jQuery(this).contents().find('*').html();var is_postback = contents.indexOf('GF_AJAX_POSTBACK') >= 0;if(!is_postback){return;}var form_content = jQuery(this).contents().find('#gform_wrapper_4');var is_confirmation = jQuery(this).contents().find('#gform_confirmation_wrapper_4').length > 0;var is_redirect = contents.indexOf('gformRedirect(){') >= 0;var is_form = form_content.length > 0 && ! is_redirect && ! is_confirmation;var mt = parseInt(jQuery('html').css('margin-top'), 10) + parseInt(jQuery('body').css('margin-top'), 10) + 100;if(is_form){jQuery('#gform_wrapper_4').html(form_content.html());if(form_content.hasClass('gform_validation_error')){jQuery('#gform_wrapper_4').addClass('gform_validation_error');} else {jQuery('#gform_wrapper_4').removeClass('gform_validation_error');}setTimeout( function() { /* delay the scroll by 50 milliseconds to fix a bug in chrome */ jQuery(document).scrollTop(jQuery('#gform_wrapper_4').offset().top - mt); }, 50 );if(window['gformInitDatepicker']) {gformInitDatepicker();}if(window['gformInitPriceFields']) {gformInitPriceFields();}var current_page = jQuery('#gform_source_page_number_4').val();gformInitSpinner( 4, 'https://s35891.pcdn.co/wp-content/plugins/gravityforms/img/spinner.svg', true );jQuery(document).trigger('gform_page_loaded', [4, current_page]);window['gf_submitting_4'] = false;}else if(!is_redirect){var confirmation_content = jQuery(this).contents().find('.GF_AJAX_POSTBACK').html();if(!confirmation_content){confirmation_content = contents;}setTimeout(function(){jQuery('#gform_wrapper_4').replaceWith(confirmation_content);jQuery(document).scrollTop(jQuery('#gf_4').offset().top - mt);jQuery(document).trigger('gform_confirmation_loaded', [4]);window['gf_submitting_4'] = false;wp.a11y.speak(jQuery('#gform_confirmation_message_4').text());}, 50);}else{jQuery('#gform_4').append(contents);if(window['gformRedirect']) {gformRedirect();}}jQuery(document).trigger('gform_post_render', [4, current_page]);} );} );
</script>
    </div> -->

                        <button class="close-button" data-close type="button">
                            <span class="screen-reader-text">Close modal</span>
                        </button>

                    </div>
                </div>



                <div class="grid-x grid-margin-x footer-misc">

                    <div class="cell large-shrink slot-sns">

                        <ul id="menu-sns" class="menu menu-sns">
                            <li id="menu-item-180"
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-180"><a
                                    href="https://www.facebook.com/luxteryhotel/"><span class="icon-social-facebook"
                                        aria-hidden="true"></span><span class="screen-reader-text">Facebook</span></a>
                            </li>
                            {{!-- <li id="menu-item-181"
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-181"><a
                                    href="https://www.instagram.com/twomacdonnellroad/"><span
                                        class="icon-social-instagram" aria-hidden="true"></span><span
                                        class="screen-reader-text">Instagram</span></a></li>
                            <li id="menu-item-182"
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-182"><a
                                    href="https://www.linkedin.com/company/lanson-place-hotels-serviced-residences"><span
                                        class="icon-social-linkedin" aria-hidden="true"></span><span
                                        class="screen-reader-text">LinkedIn</span></a></li>
                            <li id="menu-item-183"
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-183"><a
                                    target="_blank" href="https://lansonplace.com/wechat/#TRPLINKPROCESSED"><span
                                        class="icon-social-wechat" aria-hidden="true"></span><span
                                        class="screen-reader-text">WeChat</span></a></li>
                            <li id="menu-item-933"
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-933"><a
                                    target="_blank" href="https://weibo.com/u/7590571337"><span
                                        class="icon-social-weibo" aria-hidden="true"></span><span
                                        class="screen-reader-text">Weibo</span></a></li> --}}
                        </ul>
                    </div>

                    <div class="cell large-auto slot-legal">

                        <p>Copyright © 2017 Luxtery Hotel - All Rights Reserved.</p>

                        {{!-- <ul id="menu-footer" class="menu menu-footer">
                            <li id="menu-item-186"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-186"><a
                                    href="https://www.twomr.com.hk/sitemap/">Sitemap</a></li>
                            <li id="menu-item-187"
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-187"><a
                                    target="_blank" href="https://lansonplace.com/cookie-policy/">Cookie Policy</a></li>
                            <li id="menu-item-188"
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-188"><a
                                    target="_blank" href="https://lansonplace.com/privacy-policy/">Privacy Policy</a>
                            </li>
                            <li id="menu-item-189"
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-189"><a
                                    target="_blank" href="https://lansonplace.com/disclaimer/">Terms of Use</a></li>
                            <li id="menu-item-190"
                                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-190"><a
                                    target="_blank" href="https://lansonplace.com/colophon/">Colophon</a></li>
                        </ul> --}}
                    </div>

                </div>

            </div>
        </footer>

    </div>

    <div class="off-canvas position-right" id="offCanvas" data-off-canvas>

        <button class="close-button" data-close type="button">
            <span class="screen-reader-text">Close menu</span>
        </button>

        <div class="slot-logo">
            <a href="/"><span class="screen-reader-text">Luxtery Hotel</span></a>
        </div>

        <p><a href="/" rel="home">Luxtery Hotel</a></p>

        <ul id="menu-languages-2" class="menu slot-languages">
            <li
                class="zh_HK trp-language-switcher-container menu-item menu-item-type-post_type menu-item-object-language_switcher menu-item-734">
                <a href="https://www.twomr.com.hk/tc/"><span data-no-translation><span
                            class="trp-ls-language-name">Vi</span></span></a></li>
            <li
                class="zh_CN trp-language-switcher-container menu-item menu-item-type-post_type menu-item-object-language_switcher menu-item-902">
                <a href="https://www.twomr.com.hk/sc/"><span data-no-translation><span
                            class="trp-ls-language-name">En</span></span></a></li>
        </ul>

        <div class="off-canvas-widget">
            <p class="off-canvas-widget-title">Dành cho khách hàng</p>
            <nav class="menu-for-our-guests-container" aria-label="For Our Guests">
                <ul id="menu-for-our-guests-1" class="menu">
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-167"><a
                            href="/room">Phòng</a></li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-725"><a
                            href="/dining">Ẩm thực</a></li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-169"><a
                            href="/event">Sự kiện</a></li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-175"><a
                            href="/offer">Khuyến mãi</a></li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-168"><a
                            href="/contact">Liên hệ</a></li>
                </ul>
            </nav>
        </div>
    </div>



    <div class="reveal" id="reveal-ibe" data-reveal="ibe">

        <h2>Find Your Personal Retreat Today</h2>

        <form action="#" target="_blank" class="ibe-form" id="ibe-form-reveal">


            <div class="ibe-core">

                <div class="is-select ibe-property" v-show="properties">
                    <label for="property-reveal">Location</label>
                    <div>
                        <select id="property-reveal" name="property" v-model="parameters.property" required>
                            <option value>Choose location…</option>
                            <option v-if="properties" v-for="property in properties"
                                v-bind:value="property.property_ibe_id">{{ property.post_title }}</option>
                        </select>
                    </div>
                </div>

                <div class="is-calendar ibe-duration">
                    <label for="duration-reveal">Check-in—Check-out</label>
                    <div data-no-translation>
                        <flat-pickr id="duration-reveal" name="duration" v-model="flatPickrDate"
                            v-bind:config="flatPickrConfig" v-on:on-change="assignDates">
                        </flat-pickr>
                    </div>
                </div>

                <div class="ibe-occupants">

                    <div class="is-select ibe-adults">
                        <label for="number_adults-reveal">Adults</label>
                        <div>
                            <select id="number_adults-reveal" name="number_adults" v-model="parameters.number_adults">
                                <option v-for="n in 10">{{ n }}</option>
                            </select>
                        </div>
                    </div>

                    <div class="is-select ibe-children">
                        <label for="number_children-reveal">Children</label>
                        <div>
                            <select id="number_children-reveal" name="number_children"
                                v-model="parameters.number_children">
                                <option value="0">0</option>
                                <option v-for="n in 10">{{ n }}</option>
                            </select>
                        </div>
                    </div>

                </div>

                <div class="ibe-promo" v-show="!properties">
                    <label for="promotion_code-reveal">Promo Code</label>
                    <div>
                        <input id="promotion_code-reveal" name="promotion_code" v-model="parameters.promotion_code">
                    </div>
                </div>

                <input type="hidden" name="_src" v-model="parameters._src">
                <input type="hidden" name="locale" v-model="parameters.locale">

            </div>

            <button type="submit" v-if="ibeUrl" v-bind:disabled="!parameters.property" v-on:click.prevent="toIBE">Book
                Now</button>
            <button type="submit" v-else-if="!ibeUrl && contactUrl" v-on:click.prevent="toContact">Send Enquiry</button>

        </form>

        <button class="close-button" data-close type="button">
            <span class="screen-reader-text">Close modal</span>
        </button>

    </div>


    <template id="tp-language" data-tp-language="en_GB"></template>
    <link rel="stylesheet" id="gravity_forms_theme_reset-css" href="css/gravity-forms-theme-reset.css" media="all">
    <link rel="stylesheet" id="gravity_forms_theme_foundation-css" href="css/gravity-forms-theme-foundation.css"
        media="all">
    <link rel="stylesheet" id="gravity_forms_theme_framework-css" href="css/gravity-forms-theme-framework.css"
        media="all">
    <link rel="stylesheet" id="gravity_forms_orbital_theme-css" href="css/gravity-forms-orbital-theme.css" media="all">
    <style id="core-block-supports-inline-css">
        /**
 * Core styles: block-supports
 */

        .wp-container-1.wp-container-1 {
            justify-content: center;
        }
    </style>
    <script src="javascript/clipboard.js" id="clipboard-js"></script>
    <script src="javascript/flatpickr.min.js" id="flatpickr-js"></script>
    <script src="javascript/foundation.min.js" id="foundation-js"></script>
    <script src="javascript/gsap.min.js" id="gsap-js"></script>
    <script src="javascript/jets.min.js" id="jets-js"></script>
    <script src="javascript/js.cookie.min.js" id="js-cookie-js"></script>
    <script src="javascript/slick.min.js" id="slick-js"></script>
    <script src="javascript/vue.min.js" id="vue-js"></script>
    <script src="javascript/vue-flatpickr.min.js" id="vue-flatpickr-component-js"></script>
    <script id="client-theme-js-extra">
        var phpVars = {
            "contactUrl": "https:\/\/www.twomr.com.hk\/contact-us\/",
            "properties": "",
            "property": "twomacdonnellroaddirect",
            "rooms": "",
            "room_type": "",
            "check_in_date": "2023-09-07",
            "check_out_date": "2023-09-08"
        };
    </script>
    <script src="javascript/application.js" id="client-theme-js"></script>
    <script src="javascript/client-blocks.js" id="client-blocks-js"></script>
    <script src="javascript/index.js" id="swv-js"></script>
    <script id="contact-form-7-js-extra">
        var wpcf7 = {
            "api": {
                "root": "https:\/\/www.twomr.com.hk\/wp-json\/",
                "namespace": "contact-form-7\/v1"
            },
            "cached": "1"
        };
    </script>
    <script src="javascript/index_1.js" id="contact-form-7-js"></script>
    <script src="javascript/underscore.min.js" id="underscore-js"></script>
    <script src="javascript/backbone.min.js" id="backbone-js"></script>
    <script id="wp-api-request-js-extra">
        var wpApiSettings = {
            "root": "https:\/\/www.twomr.com.hk\/wp-json\/",
            "nonce": "65c1058a47",
            "versionString": "wp\/v2\/"
        };
    </script>
    <script src="javascript/api-request.js" id="wp-api-request-js"></script>
    <script src="javascript/wp-api.js" id="wp-api-js"></script>
    <script src="javascript/wp-polyfill-inert.js" id="wp-polyfill-inert-js"></script>
    <script src="javascript/regenerator-runtime.js" id="regenerator-runtime-js"></script>
    <script src="javascript/wp-polyfill.js" id="wp-polyfill-js"></script>
    <script src="javascript/dom-ready.js" id="wp-dom-ready-js"></script>
    <script src="javascript/hooks.js" id="wp-hooks-js"></script>
    <script src="javascript/i18n.js" id="wp-i18n-js"></script>
    <script id="wp-i18n-js-after">
        wp.i18n.setLocaleData({
            'text direction\u0004ltr': ['ltr']
        });
    </script>
    <script id="wp-a11y-js-translations">
        (function (domain, translations) {
            var localeData = translations.locale_data[domain] || translations.locale_data.messages;
            localeData[""].domain = domain;
            wp.i18n.setLocaleData(localeData, domain);
        })("default", {
            "translation-revision-date": "2020-10-29 21:22:19+0000",
            "generator": "GlotPress\/3.0.0-alpha.2",
            "domain": "messages",
            "locale_data": {
                "messages": {
                    "": {
                        "domain": "messages",
                        "plural-forms": "nplurals=2; plural=n != 1;",
                        "lang": "en_GB"
                    },
                    "Notifications": ["Notifications"]
                }
            },
            "comment": {
                "reference": "wp-includes\/js\/dist\/a11y.js"
            }
        });
    </script>
    <script src="javascript/a11y.js" id="wp-a11y-js"></script>
    <script defer="defer" src="javascript/jquery.json.js" id="gform_json-js"></script>
    <script id="gform_gravityforms-js-extra">
        var gform_i18n = {
            "datepicker": {
                "days": {
                    "monday": "Mo",
                    "tuesday": "Tu",
                    "wednesday": "We",
                    "thursday": "Th",
                    "friday": "Fr",
                    "saturday": "Sa",
                    "sunday": "Su"
                },
                "months": {
                    "january": "January",
                    "february": "February",
                    "march": "March",
                    "april": "April",
                    "may": "May",
                    "june": "June",
                    "july": "July",
                    "august": "August",
                    "september": "September",
                    "october": "October",
                    "november": "November",
                    "december": "December"
                },
                "firstDay": 0,
                "iconText": "Select date"
            }
        };
        var gf_legacy_multi = [];
        var gform_gravityforms = {
            "strings": {
                "invalid_file_extension": "This type of file is not allowed. Must be one of the following:",
                "delete_file": "Delete this file",
                "in_progress": "in progress",
                "file_exceeds_limit": "File exceeds size limit",
                "illegal_extension": "This type of file is not allowed.",
                "max_reached": "Maximum number of files reached",
                "unknown_error": "There was a problem while saving the file on the server",
                "currently_uploading": "Please wait for the uploading to complete",
                "cancel": "Cancel",
                "cancel_upload": "Cancel this upload",
                "cancelled": "Cancelled"
            },
            "vars": {
                "images_url": "https:\/\/www.twomr.com.hk\/wp-content\/plugins\/gravityforms\/images"
            }
        };
        var gf_global = {
            "gf_currency_config": {
                "name": "Hong Kong Dollar",
                "symbol_left": "HK$",
                "symbol_right": "",
                "symbol_padding": "",
                "thousand_separator": ",",
                "decimal_separator": ".",
                "decimals": 2,
                "code": "HKD"
            },
            "base_url": "https:\/\/www.twomr.com.hk\/wp-content\/plugins\/gravityforms",
            "number_formats": [],
            "spinnerUrl": "https:\/\/www.twomr.com.hk\/wp-content\/plugins\/gravityforms\/images\/spinner.svg",
            "version_hash": "e38a28845903f1cb10c051d0c31cc74f",
            "strings": {
                "newRowAdded": "New row added.",
                "rowRemoved": "Row removed",
                "formSaved": "The form has been saved.  The content contains the link to return and complete the form."
            }
        };
    </script>
    <script defer="defer" src="javascript/gravityforms.js" id="gform_gravityforms-js"></script>
    <script defer="defer" src="javascript/utils.js" id="gform_gravityforms_utils-js"></script>
    <script defer="defer" src="javascript/vendor-theme.js" id="gform_gravityforms_theme_vendors-js"></script>
    <script id="gform_gravityforms_theme-js-extra">
        var gform_theme_config = {
            "common": {
                "form": {
                    "honeypot": {
                        "version_hash": "e38a28845903f1cb10c051d0c31cc74f"
                    }
                }
            },
            "hmr_dev": "",
            "public_path": "https:\/\/www.twomr.com.hk\/wp-content\/plugins\/gravityforms\/assets\/js\/dist\/"
        };
    </script>
    <script defer="defer" src="javascript/scripts-theme.js" id="gform_gravityforms_theme-js"></script>
    <script type="text/javascript">
        window.addEventListener("load", function (event) {
            jQuery(".cfx_form_main,.wpcf7-form,.wpforms-form,.gform_wrapper form").each(function () {
                var form = jQuery(this);
                var screen_width = "";
                var screen_height = "";
                if (screen_width == "") {
                    if (screen) {
                        screen_width = screen.width;
                    } else {
                        screen_width = jQuery(window).width();
                    }
                }
                if (screen_height == "") {
                    if (screen) {
                        screen_height = screen.height;
                    } else {
                        screen_height = jQuery(window).height();
                    }
                }
                form.append('<input type="hidden" name="vx_width" value="' + screen_width + '">');
                form.append('<input type="hidden" name="vx_height" value="' + screen_height + '">');
                form.append('<input type="hidden" name="vx_url" value="' + window.location.href + '">');
            });

        });
    </script>
    <script>
        gform.initializeOnLoaded(function () {
            jQuery(document).on('gform_post_render', function (event, formId, currentPage) {
                if (formId == 4) { }
            });
            jQuery(document).bind('gform_post_conditional_logic', function (event, formId, fields, isInit) { })
        });
    </script>
    <script>
        gform.initializeOnLoaded(function () {
            jQuery(document).trigger('gform_post_render', [4, 1])
        });
    </script>

</body>